<div class="card">
    <div class="app">
<h1 class="discover">Discover,Create,Sell</h1>
<h1 class="digital">Extraordinary Digital</h1>
<h1 class="art">Artworks.</h1>
</div>
<p class="first">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
<p class="second">industry. Lorem Ipsum has been the industry's standard dummy</p>
</div>
<div class="btns">
    <button class="get">Get started</button>
    <button class="learn">Learn More</button>
</div>
<div class="rectangle">
    <p class="square"></p>
  
</div>
<p class="circle"></p>