<div class="card">
    <div class="crea">
        <h1 class="cre">Creea</h1>
        <p class="para">The world's firstand largest digital marketplace for crypto collectibles and non-fungible tokens(NFTs).Buy,sell, and discover exclusive digital items.</p>
    </div>
    <div class="market">
<h1>Marketplace</h1>
<p>All NFTs</p>
<p>New</p>
<p>Art</p>
<p>Domain Names</p>
<p>Virtual Works</p>
    </div>
    <div class="resource">
        <h1 class="res">Resources</h1>
        <p>Help center</p>
        <p>platform status</p>
        <p>partners</p>
        <p>gas-free marketplace</p>
        <p>suggestion</p>
        <p>Discord Community</p>
        <p>Blog</p>
        <p>Docs</p>
    </div>
    <div class="about">
        <h1>Company</h1>
        <p>About</p>
        <p>Carrers</p>
    </div>
    <p class="copy">Copyright @ 2023 by Aroka</p>
</div>
