<div class="card">
    <p class="monkey"></p>
    <img src="../../assets/young-party-monkey-cool-sunglasses-headphones-listening-music-pop-art-style-neon-colors-generative-ai-not-based-any-264551190-removebg-preview.png" alt="" class="img">
<div class="app">
    <h3 class="head3">The metapuffers 2.0</h3>
    <p class="para">loreum Ispum is simply Dummy Text of The Printing</p>
    <img src="../../assets/girl-5552504__340.jpg" alt="" class="imgs">
    <p class="artist">Name of Artist</p>
    <p class="emmi">Emmi Willy</p>
    <p class="current">Current Bid</p>
    <p class="price">18.51 ETH</p>
</div>    
</div>
