<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-taskbar></app-taskbar>
  <app-heading></app-heading>
  <app-monkey></app-monkey>
  <app-categories></app-categories>
  <app-selling></app-selling>
  <app-nfts></app-nfts>
  <app-creators></app-creators>
  <app-join></app-join>
  <app-footer></app-footer>
  
</body>
</html>